[submodule "orphan/markdown-bullets"]
	path = orphan/markdown-bullets
	url = https://github.com/xuchunyang/markdown-bullets.git
[submodule "orphan/sdcv"]
	path = orphan/sdcv
	url = https://github.com/manateelazycat/sdcv.git
