[submodule "orphan/markdown-bullets"]
	path = orphan/markdown-bullets
	url = https://github.com/xuchunyang/markdown-bullets.git
[submodule "orphan/sdcv"]
	path = orphan/sdcv
	url = https://github.com/manateelazycat/sdcv.git
[submodule "orphan/emacs-rime"]
	path = orphan/emacs-rime
	url = https://github.com/DogLooksGood/emacs-rime.git
[submodule "orphan/use-package"]
	path = orphan/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "orphan/emacs-webkit-katex-render"]
	path = orphan/emacs-webkit-katex-render
	url = https://github.com/fuxialexander/emacs-webkit-katex-render.git
